include ../mixins/icons

.main
  .control-group
    button#fullscreen-button.icon-button.icon-button--small
      +svg-icon.red.big(svg-icon-name='fullscreen')
    button#settings-button.icon-button.icon-button--small
      +svg-icon.red.big(svg-icon-name='settings')

  canvas#confetti-canvas.confetti

  #lucky-draw
    .title
      //- Pug loader currently does not handle webpack alias so we will use relative path here
      include ../assets/images/title.svg

    .slot
      .slot__outer
        .slot__inner
          .slot__shadow
          #reel.reel

      #sunburst.sunburst
        img(src="~@images/sunburst.svg" alt="sunburst")

    button#draw-button.solid-button Draw

    h2 Winner List
        ul#winner-list

  #settings.settings
    #settings-panel.settings__panel
      div.settings__panel__group
        h1.settings__title Settings
        div.input-group
          label.input-label(for="name-list") Name List
          - var members = ['구본연', '박주선', '이승호', '이현규', '이혜성', '임우진', '전인구', '차현석', '한기문', '황보현', '조성훈']
          ul.input-list#name-list
            each member in members
              li.input-list__item
                label.input--checkbox
                  input(type="checkbox" checked="true" value=member)
                  span.input-list__item__name= member


        div.input-group.input-group--flex-column
            - var memberCount = 11
            label.input-label(for="spin-count") Number of winners
            div.input--number-wrapper
              button(type="button", id="minus-button") -
              input.input--number(type="number" value="1" id="spin-count" min="1" max=memberCount)
              button(type="button", id="plus-button") +

        div.input-group.input-group--flex-column
            label.input-label(for="spin-speed") Spin Speed
            //-  slower > slow > normal > fast > faster
            input.input--range(type="range" id="spin-speed" min="1" max="5" value="3" list="speed-options")
            datalist#speed-options
              option(value="1") Slower
              option(value="2") Slow
              option(value="3") Normal
              option(value="4") Fast
              option(value="5") Faster

        div.input-group.input-group--2-column
          label.input-label(for="remove-from-list") Remove winner from list
          label.input--switch
            input(type="checkbox" checked="true" id="remove-from-list")
            span.slider

        div.input-group.input-group--2-column
          label.input-label(for="enable-sound") Enable sound effect
          label.input--switch
            input(type="checkbox" checked="true" id="enable-sound")
            span.slider
      div.settings__panel__group
        button#settings-save.solid-button.solid-button Save
        button#settings-close.solid-button.solid-button--danger Discard and close

